@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700');

:root {
  --bg-color: #fff;
  --color: #2c2c2c;
  --link-color: #919191;
}

.dark {
  --bg-color: #2c2c2c;
  --color: #f6f6f6;
}

/** Notie **/
// Before notie is imported:
$notie-color-success: rgb(89, 226, 89);
$notie-color-warning: #D6A14D;
$notie-color-error: #E1715B;
$notie-color-info: #4D82D6;
$notie-color-neutral: #A0A0A0;
// See all overwriteable variables in src/notie.scss

// Then import notie:
@import '../node_modules/notie/src/notie';


.notie-textbox {
  font-size: 18px;
  box-shadow: none;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: 'IBM Plex Sans', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 1rem;
  z-index: 99999;
}

.switch-theme {
  margin-right: 15px;
  cursor: pointer;
  &__icon {
    display: block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    border-radius: 50px;
    background-color: var(--color);
    color: var(--bg-color);
    overflow: hidden;
    transition: all .3s;
    span {
      opacity: 0;
      position: relative;
      left: 5px;
      transition: all .3s;
    }
    &:hover {
      padding: 0 15px;
      width: auto;
    }
    &:hover span {
      opacity: 1;
      left: 0;
    }
  }
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
}

.verse {
  max-width: 900px;
  padding: 20px;
  text-align: center;
  &__inner {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  &__content {
    color: var(--color);
    position: relative;
    line-height: 1.6;
    &:before {
      content: open-quote;
      color: var(--color);
      opacity: .1;
      font-size: 12rem;
      position: absolute;
      left: -10px;
      top: 50px;
      line-height: 0;
    }
  }
  &__address {
    color: var(--link-color);
    margin: 30px 0 60px 0;
  }
  &__copy {
    position: relative;
  }
  &__footer {
    font-size: 1rem;
    a {
      padding: 0 20px;
      color: var(--link-color);
      text-decoration: none;
      &:hover {
        opacity: .8;
      }
    }
    nav {
      display: flex;
      justify-content: center;
      @media all and (max-width: 540px) {
        flex-direction: column;
        text-align: center;
        .left {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__social {
    a {
      color: #fff;
      padding: 5px 15px;
      border-radius: 3px;
      margin-right: 0;
      margin-left: 5px;
      &:hover {
        opacity: .8;
        border: none;
        padding-bottom: 5px;
        color: #fff;
      }
    }
    .facebook {
      background-color: #3b5998;
    }
    .twitter {
      background-color: #1da1f2;
    }
  }
}

.duration-noti {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
}

/*****************/
/*** SETTINGS ***/
/****************/
.settings {
  position: relative;
  &__button {
    text-align: right;
    cursor: pointer;
    span:hover {
      opacity: .8;
    }
    svg g {
      fill: var(--color);
    }
  }
  &__popup {
    position: absolute;
    right: 0;
    margin-top: 15px;
    background-color: #fff;
    color: #2c2c2c;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(#000, .2);
    min-width: 300px;
    z-index: 9999;
    .input-group {
      margin-bottom: 15px;
      label {
        display: block;
        margin-bottom: 5px;
        color: rgba(#000, .54)
      }
      select {
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        padding: 5px 10px;
        border: 1px solid rgba(#000, .2);
        border-radius: 4px;
      }
      .help-text {
        font-size: .8rem;
        margin-top: 5px;
        color: rgba(#000, .54)
      }
    }
    .message {
      text-align: center;
      margin-top: 20px;
      color: #4CAF50;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
}

@media all and (max-width: 600px) {
  .verse,
  .duration-noti {
    margin-left: 20px;
    margin-right: 20px;
  }
}
