/** Notie **/
// Before notie is imported:
$notie-color-success: rgb(89, 226, 89);
$notie-color-warning: #D6A14D;
$notie-color-error: #E1715B;
$notie-color-info: #4D82D6;
$notie-color-neutral: #A0A0A0;
// See all overwriteable variables in src/notie.scss

// Then import notie:
@import '../node_modules/notie/src/notie';

.notie-textbox {
  font-size: 18px;
  padding: 15px 20px;
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  overflow: hidden;
  font-family: -apple-system, system-ui, "San Francisco", "Helvetica Neue", Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  color: #fff;
  font-size: 1rem;
  z-index: 99999;
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
}

.verse {
  max-width: 600px;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .2);
  &__inner {
    padding: 30px;
    font-size: 2rem;
    line-height: 3rem;
  }
  &__address {
    text-align: right;
    color: #969eab;
    font-size: 1.5rem;
    &:before {
      content: '—';
      padding: 0 10px;
    }
  }
  &__copy {
    position: relative;
  }
  &__footer {
    padding: 30px;
    border-top: 1px solid #efefef;
    font-size: 1rem;
    a {
      margin-right: 15px;
      color: rgba(0, 0, 0, .5);
      text-decoration: none;
      &:hover {
        color: #2c2c2c;
        border-bottom: 1px solid #2c2c2c;
        padding-bottom: 1px;
      }
    }
    nav {
      display: flex;
      justify-content: space-between;
      @media all and (max-width: 540px) {
        flex-direction: column;
        text-align: center;
        .left {
          margin-bottom: 20px;
        }
      }
    }
  }
  &__social {
    a {
      color: #fff;
      padding: 5px 15px;
      border-radius: 3px;
      margin-right: 0;
      margin-left: 5px;
      &:hover {
        opacity: .8;
        border: none;
        padding-bottom: 5px;
        color: #fff;
      }
    }
    .facebook {
      background-color: #3b5998;
    }
    .twitter {
      background-color: #1da1f2;
    }
  }
}

.duration-noti {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
  text-align: right;
}

/*****************/
/*** SETTINGS ***/
/****************/
.settings {
  &__button {
    text-align: right;
    cursor: pointer;
    span:hover {
      opacity: .8;
    }
    img {
      width: 20px;
      height: auto;
    }
  }
  &__popup {
    margin-top: 15px;
    background-color: #fff;
    color: #2c2c2c;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 20px rgba(#000, .2);
    min-width: 300px;
    position: relative;
    z-index: 9999;
    .input-group {
      margin-bottom: 15px;
      label {
        display: block;
        margin-bottom: 5px;
        color: rgba(#000, .54)
      }
      select {
        width: 100%;
        font-family: inherit;
        font-size: 1rem;
        padding: 5px 10px;
        border: 1px solid rgba(#000, .2);
        border-radius: 4px;
      }
      .help-text {
        font-size: .8rem;
        margin-top: 5px;
        color: rgba(#000, .54)
      }
    }
    .message {
      text-align: center;
      margin-top: 20px;
      color: #4CAF50;
    }
  }
  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
}

footer {
  position: fixed;
  bottom: 30px;
  right: 30px;
  a {
    color: #fff;
    margin: 0 10px;
    padding-bottom: 1px;
    text-decoration: none;
    border-bottom: 1px solid #fff;
  }
}

@media all and (max-width: 600px) {
  .verse,
  .duration-noti {
    margin-left: 20px;
    margin-right: 20px;
  }
}